@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --roboto: 'Roboto';
    --tomato: rgb(255, 98, 87);
    --light-red: rgba(255, 107, 97, 0.452);
    --strong-tomato: rgba(247,53,40,1);
    --dark-slate:  rgb(36, 39, 66);
    --charcoal-grey: rgb(54, 56, 78);
    --grey: rgb(146, 148, 160);
    --white: rgb(255, 255, 255);
    --gradient-1: rgba(247,40,93,1);
    --gradient-2:rgba(255,136,78,1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(235, 18%, 26%);
}

main {
    width: 25%;
    height: auto;
    gap: 5rem;
    padding: 2rem;
    text-align: left;
    background-color: var(--white);
    font-family: var(--roboto);
    border: none;
    border-radius: 30px;
}

img, p, h1 {
    margin-bottom: 2rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

p {
    font-size: .8rem;
}

span{
    font-weight: 700;
}

button {
    width: 100%;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--dark-slate);
    color: white;
    cursor: pointer;
    transition: all .4s linear;
}

button:hover {
    background: linear-gradient(90deg, var(--gradient-1) 0%, var(--gradient-2) 100%);
    box-shadow: 1px 2px 15px 0px var(--tomato);
}

@media (max-width: 450px) {
    
    main {
        width: 100%;
        height: 100%;
        
        border-radius: 0;
        overflow-y: hidden;
        
    }
    img {
        margin-top: 40%;
    }
    p {
        font-size: 1rem;
        
    }
    button {
        
        margin-top: 50%;
        height: 3rem;
        
    }
}